<div class="modal-dialog"
[style.height]="height"
[style.minHeight]="minHeight"
[style.minWidth]="minWidth"
[style.width]="width">
    <div class="modal-header">
        <div class="modal-header__title">
            <h2>{{fileTitle}}</h2>
        </div>

        <!-- <div class="modal-header__button">
            <i class="close">X</i>
        </div> -->
    </div>

    <div class="modal-body">
        <ng-content #dynamicComponent></ng-content>
    </div>

    <div class="modal-footer">

    </div>
</div>