@import '_variables.scss';

.icons {
    margin: 20px 0 0 20px;

    .icon {
        width: 80px;
        cursor: pointer;

        &-image {
            max-width: 100%;
        }
    }
}

app-modal-dialog.uploading {
    .modal-header__icon {
        width: 100px;
    }

    header {
        margin-bottom: 10px;
    }

    .full {
        flex-grow: 1;
    }

    .files {
        margin: 5px 15px;
        border: 1px dotted #0085ff;
        flex-grow: 1;
        border-radius: 5px;
        position: relative;

        &:hover {
            background: #f3f9fe;
        }

        .box-input {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            flex-grow: 1;

            label {
                cursor: pointer;
            }

            .box-file {
                visibility: hidden;
            }

            .absolute {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }

    }

    .uploading-infor {
        display: flex;
        justify-content: space-between;

        .infor-right {
            .time {
                margin-right: 15px;
            }
        }
    }

    .progress-all-files {
        height: 5px;
        border-radius: 5px;
        background: #ccc;
        margin: 10px 0;
        box-sizing: border-box;
        position: relative;

        .loadding {
            height: 5px;
            border-radius: 5px;
            background: orange;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .box-files {
        .items {
            max-height: 245px;
            height: 175px;
        }
    }

    footer {
        display: flex;
        margin: 0 15px;
        align-items: center;
        justify-content: space-between;

        .btn-group {
            justify-content: flex-end;
            flex-grow: 1;
            
            .btn {
                &-send {
                    background: $btn-primary;
                    color: #fff;
                    margin-right: 0;
                }
            }
        }

        .options {
            input {
                visibility: hidden;
            }
        }
    }
}

app-modal-dialog.uploaded {
    .uploaded {
        &-header {
            display: flex;
            padding: 20px 20px 0 20px;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .uploaded-success-icon {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 4px solid $btn-primary;
                background-color: #fff;
                position: relative;
                overflow: hidden;
                animation: showSuccess 180ms ease-in-out;

                &__tip,
                &__long {
                    display: inline-block;
                    position: absolute;
                    height: 4px;
                    background-color: $btn-primary;
                    border-radius: 10px;
                }

                &__tip {
                    width: 25px;
                    top: 50px;
                    left: 20px;
                    transform: rotate(45deg);
                }

                &__long {
                    width: 50px;
                    transform: rotate(-45deg);
                    top: 40px;
                    left: 33px;
                }
            }

            h1 {
                margin: 25px 0 0 0;
            }
        }

        &-notification {
            padding: 20px;
            display: flex;
            text-align: center;
            flex-direction: column;
            p {
                font-size: 16px;
            }

            .btn-group {
                flex-direction: column;
                margin-top: 20px;

                .btn {
                    width: 100%;
                    margin-bottom: 0px;
                }

                .btn-view-files {
                    background: $btn-primary;
                    color: #fff;
                    border: 1px solid $btn-primary;
                }

                .btn-resend-files {
                    background: #fff;
                    color: $btn-primary;
                    border: 1px solid $btn-primary;
                }
            }
        }
    }
}


@keyframes trash {
    from {
        transform: rotate(-20deg)
    }
    to {
        transform: rotate(20deg)
    }
}